.corpo {
    height: 100vh;
    background: #c1c1c1;
}

table {
    margin: .9rem;
}

label {
    font-weight: 500;
}

#corpoModal span {
    color: rgba(33, 112, 230, 0.933);
}

.mensagemModal {
    color: #969696;
    font-weight: bold;
}